@use "@styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: variables.$primary-background-color;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    color: variables.$primary-blue-color;
    transition: all 0.15s ease-in-out;
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 2560px) {
  body {
    padding: 4rem 8rem;
    font-size: 2rem;
  }
}
