$primary-blue-color: #00a3c4;
$secondary-blue-color: #93a3b4;
$tertiary-blue-color: #9ab2d4;

$primary-gray-color: #E2E8F0;
$secondary-gray-color: #A0AEC0;
$primary-background-color: #f7fafc;
$primary-container-background-color: #ffffff;