$primary-blue-color: #00a3c4;
$secondary-blue-color: #93a3b4;
$tertiary-blue-color: #9ab2d4;

$primary-gray-color: #e2e8f0;
$secondary-gray-color: #a0aec0;
$tertiary-gray-color: #3c3c3b;
$light-gray-color: lightgrey;

$primary-green-color: #41af64;
$secondary-green-color: #00ee85;

$primary-background-color: #f7fafc;
$primary-container-background-color: #ffffff;

$primary-black-color: #1a1d1e;
