@use "@styles/variables";

.back{
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .back{
    max-width: 200px;
  }
}