.container {
  display: grid;
  gap: 1rem;
  &_button {
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: inherit;
  }
}

.desktop_wrapper{
  display: flex;
  justify-content: space-between;
}