.button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: grid;
  width: 30px;
  height: 30px;
  place-items: center;
  z-index: 1;
  background: none;
  border: none;
  &_vertical {
    display: block;
    position: relative;
    &::before,
    &::after,
    & {
      width: 0.39rem;
      height: 0.39rem;
      border-radius: 50%;
      background-color: black;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }
  }
}
