.aside {
  display: flex;
  position: fixed;
  inset: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  transform: translateX(-100%);
  will-change: transform, visibility;
  z-index: 1;

  &_button {
    position: absolute;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    border: none;
    z-index: -1;
  }

  &_open {
    visibility: visible;
    transform: translateX(0%);
  }
}

.button {
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  &_hamburger {
    display: block;
    position: relative;
    z-index: 2;
    &::before,
    &::after,
    & {
      width: 2rem;
      height: 3px;
      border-radius: 1rem;
      background-color: black;
      transition: transform 250ms ease-in-out;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }

    &_open {
      transform: rotate(0.625turn);

      &::before {
        transform: rotate(90deg) translateX(-6px);
      }

      &::after {
        opacity: 0;
      }
    }
  }
}
