@use "@styles/variables";

.popup{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  background: white;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 3;
  &_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    &_action{
      width: 100%;
      padding: 0.5rem;
      border: 1px solid black;
      font-size: 1.6rem;
      font-weight: 700;
      text-align: start;  
      border-radius: 0;
      background: none;
      color: black;
      &:hover{
        color: variables.$primary-blue-color;
        transition: all 0.15s ease-in-out;
      }
    }
  }
}