@use "@styles/variables";

.container {
  display: flex;
  height: calc(100dvh - 2rem - 90px);
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  &_title {
    text-align: center;
  }
}
