@use "@styles/variables";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  animation: fade-in .5s forwards;
  &_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &_section {
      display: grid;
      gap: 1.5rem;
      &_fields{
        display: grid;
        gap: 1rem;
      }
      &_wrapper {
        display: flex;
        flex-direction: column;
        &_label {
          margin-bottom: 1rem;
          color: variables.$primary-black-color;
          &_text {
            font-weight: 500;
          }
        }
        &_input {
          padding: 1rem;
          border: 1px solid variables.$primary-gray-color;
          border-radius: 1.5rem;
          &::placeholder {
            color: variables.$tertiary-blue-color;
          }
        }
        &_error {
          color: red;
          margin-top: 0.5rem;
          font-weight: 500;
        }
      }
    }
    &_button {
      margin: 1rem 0;
    }
  }
}

.image {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px 0px black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media screen and (min-width: 1024px){
  .container{
    &_form{
      &_section{
        &_fields{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
        
      }
    }
  }
}