@use "@styles/variables";

.loader {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      0deg,
      variables.$primary-green-color 0%,
      variables.$secondary-green-color 100%
    );
  }

  &::after {
    width: 85%;
    height: 85%;
    background-color: variables.$primary-background-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
