@use "@styles/variables";

.login {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 1rem;
  &_title {
    font-size: 3.2rem;
  }
  &_description {
    color: variables.$secondary-blue-color;
    font-size: 1.4rem;
    font-weight: 700;
  }
}
