@use "@styles/variables";

.stepper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    &_button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      background-color: variables.$primary-gray-color;

      &_active {
        background-color: variables.$primary-green-color !important;
      }
    }

    &_connector {
      width: 30px;
      height: 2px;
      background-color: variables.$primary-gray-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .stepper {
    &_container {
      flex-direction: column;
      &_button {
        position: relative;
        font-size: inherit;
        font-family: inherit;
      }
      &_title {
        position: absolute;
        transform: translate(50%, -50%);
        // left: 45px;
      }
      &_connector {
        width: 2px;
        height: 30px;
        align-self: center;
      }
    }
  }
}
