.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  &_title {
    text-align: center;
  }

  &_wrapper {
    display: grid;
    gap: 1.5rem;
  }
  &_button {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .list {
    &_wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .list {
    &_wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    &_title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 2560px) {
  .list {
    &_wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
