@use "@styles/variables";

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  gap: 1rem;
  &_image {
    display: none;
  }
  &_buttons {
    display: flex;
    gap: 1rem;
    &_btn {
      width: fit-content !important;
      border: none;
      color: black !important;
      background-color: transparent !important;
      padding: 0 !important;
      font-size: 1.6rem;
      height: 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &_buttons {
      &_btn {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .header {
    &_buttons {
      &_btn {
        font-size: 2rem;
      }
    }
  }
}
