.container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  &_indicator{
    display: flex;
    align-items: center;
    gap: 1rem;
     &_icon{
      &_draggable{
        cursor: grab;      
      }
     }
  }
}